@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "LEIDEN";
    font-weight: bold;
    src: url("../public/font/NeueLeiden-Bold.otf");
}

@font-face {
    font-family: "ARTICLE-BOLD";
    font-weight: bold;
    src: url("../public/font/Article-bold.otf");
}

@font-face {
    font-family: "ARTICLE";
    src: url("../public/font/Article-regular.otf");
}

@font-face {
    font-family: "ARTICLE-LIGHT";
    font-weight: lighter;
    src: url("../public/font/Article-light.otf");
}