@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DEVANT";
    src: url("../public/font/Devant\ Horgen.otf");
}

@font-face {
    font-family: "LEIDEN-BOLD";
    font-weight: bold;
    src: url("../public/font/NeueLeiden-Bold.otf");
}

@font-face {
    font-family: "LEIDEN-SEMIBOLD";
    font-weight: 600;
    src: url("../public/font/NeueLeiden-SemiBold.otf");
}

@font-face {
    font-family: "LEIDEN-MEDIUM";
    font-weight: 500;
    src: url("../public/font/NeueLeiden-Medium.otf");
}

@font-face {
    font-family: "LEIDEN";
    src: url("../public/font/NeueLeiden-Regular.otf");
}